body {
    font-family: 'Poppins', sans-serif !important;
}

.site-logo {
    color: #4d88ff !important;

    span {
        color: #1f2e2e;
    }
}

.top-social {
    a.d-inline-block {
        color: black;

        &:hover {
            color: #4d88ff;
        }
    }
}

button.blue {
    background-color: black;
    color: #fff !important;

    &:hover {
        background-color: #4d88ff;
        color: #fff !important;
        border-color: #4d88ff;
    }
}

a.blue {
    background-color: black;
    color: #fff !important;

    &:hover {
        background-color: #4d88ff;
        color: #fff !important;
        border-color: #4d88ff;
        text-decoration: none;
    }
}

form.search-form {
    .d-flex {
        button {
            background-color: black;

            &:hover {
                background-color: #4d88ff;
                border-color: #4d88ff;
            }
        }
    }
}

ul.site-menu {
    li.link {
        font-family: 'Poppins', sans-serif;

        &.active {
            a.nav-link {
                color: #4d88ff;
            }
        }

        a {
            &.nav-link {
                letter-spacing: 1px;
                padding-left: 1rem;
                padding-right: 1rem;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}

a {
    color: #0238a3;

    &:hover {
        color: #4d88ff;
    }

    .more {
        color: #0238a3;

        &:hover {
            color: #4d88ff;
        }
    }
}

h2 {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
